# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", delimiter ='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [3]:
#Fot this problem, the column item_price should be change in numneric and $ sign should be removed. 

# df['duration'] = df['duration'].apply(lambda x : int(x.replace("mins.", '')))
chipo['item_price'] = chipo['item_price'].apply(lambda x : float(x.replace("$", '')))
chipo['item_price']

(chipo['item_price'] >=10).sum()

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [4]:
chipoo= chipo[['item_name', 'item_price']]
chipoo.head()

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98

### Step 6. Sort by the name of the item

In [5]:
chipoo.sort_values(by=['item_name'], ascending= [True]).head()

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [6]:
most_expensive =chipo.nlargest(1 , 'item_price')
print(most_expensive)
most_expensive['quantity']

      order_id  quantity                     item_name choice_description  \
3598      1443        15  Chips and Fresh Tomato Salsa                NaN

      item_price
3598       44.25

3598    15
Name: quantity, dtype: int64

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [7]:
chipo['item_name'].value_counts()['Veggie Salad Bowl']

18

### Step 9. How many times people orderd more than one Canned Soda?

In [15]:

chipo_2=chipo[chipo['item_name'].str.contains("Canned Soda")]
chipo_2[chipo_2['quantity'] >=2].count().quantity
# chipo['quantity'].value_counts()[1]

20